# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

In [12]:
def sql (querry ,cursor = c):
    """Runs a SQL querry and returns results as a Dataframe. cursor Variable is set to 'c' by default. Make sure your run sql_connect before using or set cursor manually """
    c.execute(querry)
    c.fetchall
    df = pd.DataFrame(c.fetchall())
    df.columns = [x[0] for x in c.description]
    return df

## Display the names of all the employees in Boston.
Hint: join the employees and customers tables.

In [13]:
#Your code here
c.execute('''select employees.employeeNumber, customers.contactLastName, customers.contactFirstName, customers.salesRepEmployeeNumber, customers.city
          from customers
          join employees 
          on customers.salesRepEmployeeNumber = employees.employeeNumber
          where customers.city = 'Boston';''').fetchall()

[('1216', 'Yoshido', 'Juri', '1216', 'Boston'),
 ('1188', 'Franco', 'Valarie', '1188', 'Boston')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [15]:
#Your code here
c.execute('''select employees.officeCode, offices.officeCode, employees.lastname
from employees 
join offices
on employees.officeCode = offices.officeCode
group by employees.lastname ''').fetchall()

[('4', '4', 'Bondur'),
 ('7', '7', 'Bott'),
 ('1', '1', 'Bow'),
 ('4', '4', 'Castillo'),
 ('2', '2', 'Firrelli'),
 ('6', '6', 'Fixter'),
 ('4', '4', 'Gerard'),
 ('4', '4', 'Hernandez'),
 ('1', '1', 'Jennings'),
 ('7', '7', 'Jones'),
 ('5', '5', 'Kato'),
 ('6', '6', 'King'),
 ('6', '6', 'Marsh'),
 ('1', '1', 'Murphy'),
 ('5', '5', 'Nishi'),
 ('2', '2', 'Patterson'),
 ('1', '1', 'Thompson'),
 ('3', '3', 'Tseng'),
 ('3', '3', 'Vanauf')]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!